[submodule "app/libs/tun2socks"]
	path = app/libs/tun2socks
	url = https://github.com/dovecoteescapee/tun2socks.git
[submodule "app/src/main/cpp/byedpi"]
	path = app/src/main/cpp/byedpi
	url = https://github.com/hufrea/byedpi.git
