[submodule "hev-socks5-tunnel"]
	path = app/src/main/jni/hev-socks5-tunnel
	url = https://github.com/heiher/hev-socks5-tunnel.git
[submodule "byedpi"]
	path = app/src/main/cpp/byedpi
	url = https://github.com/hufrea/byedpi.git
